.footer {
    @extend %oxygen, %clear;
    width: 100%;
    height: 230px;
    background-color: #313239;
    color: #6f707a;
    text-align: center;
    font-weight: 700;
    font-size: 12px;

    li, a {
        color: #e0e0e5;
    }

    a {
        text-decoration: none;

        &:hover {
            color: #fff;
        }
    }

    ul {
        margin: 70px 0 50px;
        list-style: none;
    }

    li {
        display: inline-block;
        padding: 0 28px;
        height: 24px;
        font-size: 14px;
    }
}

    .ico-place {
        @extend %sprite;
        background-position: 0 -62px;
    }
    .ico-tel {
        @extend %sprite;
        background-position: 0 -86px;
    }
    .ico-email {
        @extend %sprite;
        background-position: 0 -110px;
    }
