.header {
    @extend .clear;
    padding: 25px 0;
    width: 100%;
}
    .logo {
        float: left;
        margin: 0;

        img {
            display: block;
        }
    }

    .fb_edge_widget_with_comment {
        float: left;
        margin: 10px 0 0 20px;
        height: 30px;
    }

    #desconto {
        @include vendor(border-radius, 5px);
        @extend %oxygen;
        float: right;
        width: 160px;
        height: 38px;
        background-color: #fff;
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        line-height: 38px;
    }