.main {
    background-color: #fff;
    text-align: center;

    p {
        @extend %oxygen;
        margin: 0 auto;
        width: 675px;
    }
}

.slides {
    padding-top: 60px;
    color: #fff;

    p {
        width: 550px;
        font-weight: 700;
    }
}

    .owd {
        position: relative;
        top: 15px;
        //overflow: hidden;
        margin: 50px auto 0;
        padding: 0;
        height: 410px;
        list-style: none;
        text-align: center;

        > div {
            display: none;
        }
    }

    .ipad, .macbook {
        @extend %sprite;
        height: 410px;
    }

    .macbook {
        padding-top: 24px;
        background-position: center -180px;
    }
    .ipad {
        padding-top: 41px;
        background-position: center -590px;
    }

.hello-nutri {
    @extend %sprite, %hidden;
    margin: 25px auto;
    width: 295px;
    height: 62px;
    background-position: 0 0;
}