.sidebar {
    padding: 130px 0 100px;
}
    form {
        @include vendor(border-radius, 3px);
        margin: 30px auto;
        padding: 35px 40px;
        width: 520px;
        background-color: #F7F7F8;
        text-align: left;
    }
        label {
            @extend %oxygen;
            display: inline-block;
            font-size: 14px;
        }

        input {
            @include vendor(border-radius, 4px);
            @include vendor(transition, border 0.05s linear);
            display: block;
            margin-bottom: 15px;
            width: 100%;
            height: 48px;
            border: 2px solid #ECEEEF;
            color: #444;
            text-indent: 12px;

            &:focus {
                outline: 0;
                border-color: #d8e3e9;
            }

            &.red {
                border-color: #ea9d9f;
            }
        }

        button {
            @include vendor(border-radius, 4px);
            @include vendor(transition, background-color 0.15s linear, opacity 0.15s linear);
            @extend %oxygen;
            display: block;
            width: 100%;
            height: 62px;
            border: none;
            background-color: $red-bg;
            color: #fff;
            font-weight: 700;
            font-size: 20px;

            img {
                display: none;
                margin: 6px auto 0;
            }

            &.green {
                opacity: 1;
                background-color: #54d077;
            }
        }

        select {
            display: none;
        }
        .customSelect {
            margin-bottom: 20px;
            height: 50px;
        }