* {
    @include vendor(box-sizing, border-box);
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
    font-size: 62.5%;
}

body {
    min-width: 980px;
    background: #fff;
    color: #444;
    font: 300 16px/1.6 'Helvetica Neue', Helvetica, Arial;
}

a {
    color: $red-bg;
    text-decoration: none;
    font-weight: 700;

    &:hover {
        text-decoration: underline;
    }
}

.wrapper {
    margin: 0 auto;
    width: 980px;
}