@mixin vendor ($property, $value...) {
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    -o-#{$property}: $value;
    #{$property}: $value;
}

%sprite {
    background: url(../img/sprite.png) no-repeat;
}

%hidden {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}